.tempContainer{
    font-size: 85px;
    margin: 0px;
    padding-top: 70px;
}
.highlowTempContainer{
    font-size: 40px;
}

.summary{
    font-size: 24px;
    padding-right: 69px;

} 
.summaryBase{
    display: flex;
    top: 260px;
    position: absolute;
    padding-left: 35px;
}
.summary2{
    position: fixed;
    padding-top: 25px;
}
.fahCelciusBtn{
    padding: 4px 15px;
    /* background-color: transparent; */
    border-color: rgba(422, 275, 254, 20.25);
    color: white;
    /* font-size: 25px; */
    /* background: rgba(255, 255, 255, 0.25); */
}